---
layout: home
---
{% include header.html %}
{% include nav.html %}
<main>
    {% include jumbotron.html %}
    {% if page.about-title %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ page.about-title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p class="lead">{{ page.about-description }}</p>
                <p>
                    {% if page.about-link %}
                    <a href="{{ page.about-link }}" class="btn btn-outline-primary btn-lg mr-2" role="button">{{ page.about-title }}</a>
                    {% endif %}
                    {% if page.cv-link %}
                    <a href="{{ page.cv-link }}" class="btn btn-outline-secondary btn-lg" role="button">{{ page.cv-text }}</a>
                    {% endif %}
                </p>
            </div>
            {% if page.about-img %}
            <div class="col-sm-4">
                <img src="{{ site.baseurl }}/img/{{ page.about-img }}" alt="{{ page.about-img-alt }}" class="mb-4 rounded-circle">
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if page.work-title %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ page.work-title }}</h2>
                {% include works.html limit=6 %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <a href="{{ page.work-link }}" class="btn btn-outline-primary btn-lg" role="button">{{ page.work-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.press-title %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ page.press-title }}</h2>
                {% include press.html limit=6 %}
                <p>
                    <a href="{{ page.press-link }}" class="btn btn-outline-primary btn-lg" role="button">{{ page.press-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.posts-title %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ page.posts-title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include posts.html limit=3 %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    <a href="{{ page.posts-link }}" class="btn btn-outline-primary btn-lg" role="button">{{ page.posts-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% include footer.html %}
