---
layout: work
---
{% include header.html %}
{% include nav.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row">
            <!-- Main content -->
            <div class="col-sm-8">
                {{ content | markdownify }}

                <div class="row">
                    <div class="col-sm-6">
                        {% if page.methods %}
                        {% if post %}
                        {% assign methods = post.methods %}
                        {% else %}
                        {% assign methods = page.methods %}
                        {% endif %}
                        <h2>Methods</h2>
                        <ul>
                            {% for method in methods %}
                            <li>{{ method }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        {% if page.tools %}
                        {% if post %}
                        {% assign tools = post.tools %}
                        {% else %}
                        {% assign tools = page.tools %}
                        {% endif %}
                        <h2>Tools</h2>
                        <ul>
                            {% for tool in tools %}
                            <li>{{ tool }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Sidebar: Samples -->
            <div class="col-sm-4">
                {% if page.samples-title %}
                <h2>{{ page.samples-title }}</h2>
                {% endif %}

                <div class="samples">
                    {% for i in (1..4) %}
                    {% assign img = "sample-img-" | append: i %}
                    {% assign alt = "sample-img-alt-" | append: i %}
                    {% assign caption = "sample-img-caption-" | append: i %}
                    {% if page[img] %}
                    <figure style="margin-bottom: 1.5rem;">
                        <img src="{{ site.baseurl }}/img/work/{{ page[img] }}" alt="{{ page[alt] }}" class="img-fluid">
                        <figcaption>{{ page[caption] }}</figcaption>
                    </figure>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}
